tmp/flows2.json
[{"id":"16df67cbaca52a3c","type":"tab","label":"水电燃气","disabled":false,"info":"","env":[]},{"id":"147098c9.b67d67","type":"server","name":"Home Assistant","addon":true},{"id":"600d38f0e00d44a4","type":"ha-entity-config","server":"147098c9.b67d67","deviceConfig":"8a28f5e817d12ea6","name":"燃气表-上期表数","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"燃气表-上期表数"},{"property":"icon","value":"mdi:gas-burner"},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"gas"},{"property":"unit_of_measurement","value":"m³"},{"property":"state_class","value":"total_increasing"}],"resend":false,"debugEnabled":false},{"id":"8a28f5e817d12ea6","type":"ha-device-config","name":"燃气表","hwVersion":"薛*","manufacturer":"杭州港华","model":"东湖街道嘉悦府32号楼01单元1504室","swVersion":"1400644370"},{"id":"e03ef26e11c2411f","type":"mqtt-broker","name":"HOME-MQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"mqtt/connect","birthQos":"2","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"bbb1f6b605846e88","type":"ha-entity-config","server":"147098c9.b67d67","deviceConfig":"8a28f5e817d12ea6","name":"燃气表-上期用气量","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"燃气表-上期用气量"},{"property":"icon","value":"mdi:gas-cylinder"},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"gas"},{"property":"unit_of_measurement","value":"m³"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"a3675ac184950a33","type":"ha-entity-config","server":"147098c9.b67d67","deviceConfig":"8a28f5e817d12ea6","name":"燃气表-上期用气费用","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"燃气表-上期用气费用"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"￥"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"441ce94acda21e93","type":"ha-device-config","name":"水表","hwVersion":"薛*","manufacturer":"杭州余杭水务","model":"东湖街道嘉悦府32号楼01单元1504室","swVersion":"5807483"},{"id":"183b94098fc05b3e","type":"ha-entity-config","server":"147098c9.b67d67","deviceConfig":"441ce94acda21e93","name":"水表-上期表数","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"水表-上期表数"},{"property":"icon","value":"mdi:water"},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"吨"},{"property":"state_class","value":"total_increasing"}],"resend":false,"debugEnabled":false},{"id":"32c283356f273cb7","type":"ha-entity-config","server":"147098c9.b67d67","deviceConfig":"441ce94acda21e93","name":"水表-上期用水量","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"水表-上期用水量"},{"property":"icon","value":"mdi:water-pump"},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"吨"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"6ea8d832709750b6","type":"ha-entity-config","server":"147098c9.b67d67","deviceConfig":"441ce94acda21e93","name":"水表-上期用水费用","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"水表-上期用水费用"},{"property":"icon","value":"mdi:currency-jpy"},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"￥"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"12221fd4e6cc5667","type":"ha-sensor","z":"16df67cbaca52a3c","name":"燃气表-上期表数","entityConfig":"600d38f0e00d44a4","version":0,"state":"表数","stateType":"msg","attributes":[{"property":"last_record_time","value":"抄表日期","valueType":"msg"},{"property":"records_date","value":"records_date","valueType":"msg"},{"property":"records_value","value":"records_value","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":860,"y":100,"wires":[[]]},{"id":"95392c9e5fd9ec74","type":"ha-sensor","z":"16df67cbaca52a3c","name":"燃气表-上期用气量","entityConfig":"bbb1f6b605846e88","version":0,"state":"用气量","stateType":"msg","attributes":[{"property":"last_record_time","value":"抄表日期","valueType":"msg"},{"property":"records_date","value":"records_date","valueType":"msg"},{"property":"records_value","value":"records_usage","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":870,"y":180,"wires":[[]]},{"id":"70c5bd9605771d7e","type":"ha-sensor","z":"16df67cbaca52a3c","name":"燃气表-上期用气费用","entityConfig":"a3675ac184950a33","version":0,"state":"金额","stateType":"msg","attributes":[{"property":"last_record_time","value":"抄表日期","valueType":"msg"},{"property":"records_date","value":"records_date","valueType":"msg"},{"property":"records_value","value":"records_cost","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":880,"y":260,"wires":[[]]},{"id":"53e43f5836049234","type":"python-function","z":"16df67cbaca52a3c","name":"更新燃气表数据","func":"import sqlite3\nfrom datetime import datetime\n\ndef parse_input():\n    # 解析数据数据\n    data = str(msg['payload']).split(' ')\n    if len(data) != 4:\n        node.error(\"输入数据格式不正确, 需要: 日期 读数 用气量 费用\")\n        return None\n    date, value, usage, cost = data\n    try:\n        format_date = datetime.strptime(date, \"%Y%m%d\")\n        date = format_date.strftime(\"%Y-%m-%d\")\n    except ValueError:\n        node.error(\"不是有效的日志格式\")\n        return None\n    try:\n        value = float(value)\n    except:\n        node.error(\"不是有效的浮点数\")\n        return None\n    try:\n        usage = float(usage)\n    except:\n        node.error(\"不是有效的浮点数\")\n        return None\n    try:\n        cost = float(cost)\n    except:\n        node.error(\"不是有效的浮点数\")\n        return None\n    return (date, value, usage, cost)\n    \n\ndef insert_date(cursor, date):\n    cursor.execute('INSERT OR REPLACE INTO gas_1504 (抄表日期, 燃气表读数, 燃气用量, 燃气费用) VALUES (\"%s\", %s, %s, %s);' % (date[0], date[1], date[2], date[3]))\n\ndef read_gas_data(cursor):\n    # 执行查询\n    cursor.execute(\"SELECT * FROM gas_1504\")\n    \n    # 获取所有行\n    rows = cursor.fetchall()\n    \n    # 提取查询结果\n    records = {}\n    for (date, value, usage, cost) in rows:\n        records[date] = (value, usage, cost)\n\n    return records\n\n# 连接到数据库\nconn = sqlite3.connect('my_home.db')\n# 创建游标对象\ncursor = conn.cursor()\n# 插入， 更新燃气数据\ninput_date = parse_input()\ninput_date and insert_date(cursor, input_date)\nconn.commit()\nrecords = read_gas_data(cursor)\n# 关闭连接\nconn.close()\n\n\n# 更新燃气数据\nrecords_date = []\nrecords_value = []\nrecords_usage = []\nrecords_cost = []\n\n# 倒序排序\nfor date in sorted(records.keys()):\n    records_date.append(date)\n    records_value.append(records[date][0])\n    records_usage.append(records[date][1])\n    records_cost.append(records[date][2])\n\nmsg['records_date'] = records_date\nmsg['records_value'] = records_value\nmsg['records_usage'] = records_usage\nmsg['records_cost'] = records_cost\n\nmsg['抄表日期'] = records_date[-1]\nmsg['表数'] = records_value[-1]\nmsg['用气量'] = records_usage[-1]\nmsg['金额'] = records_cost[-1]\n\nreturn msg","outputs":1,"x":540,"y":200,"wires":[["12221fd4e6cc5667","95392c9e5fd9ec74","70c5bd9605771d7e"]]},{"id":"f58901276bb97706","type":"mqtt in","z":"16df67cbaca52a3c","name":"监听燃气数据","topic":"home_data/gas_1504","qos":"2","datatype":"auto-detect","broker":"e03ef26e11c2411f","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":200,"wires":[["53e43f5836049234"]]},{"id":"f045bd58fbcb4157","type":"ha-sensor","z":"16df67cbaca52a3c","name":"水表-上期表数","entityConfig":"183b94098fc05b3e","version":0,"state":"表数","stateType":"msg","attributes":[{"property":"last_record_time","value":"抄表日期","valueType":"msg"},{"property":"records_date","value":"records_date","valueType":"msg"},{"property":"records_value","value":"records_value","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":860,"y":380,"wires":[[]]},{"id":"53881138bd098f39","type":"ha-sensor","z":"16df67cbaca52a3c","name":"水表-上期用水量","entityConfig":"32c283356f273cb7","version":0,"state":"用水量","stateType":"msg","attributes":[{"property":"last_record_time","value":"抄表日期","valueType":"msg"},{"property":"records_date","value":"records_date","valueType":"msg"},{"property":"records_value","value":"records_usage","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":860,"y":460,"wires":[[]]},{"id":"b6722edbe0fa520b","type":"ha-sensor","z":"16df67cbaca52a3c","name":"水表-上期用水费用","entityConfig":"6ea8d832709750b6","version":0,"state":"金额","stateType":"msg","attributes":[{"property":"last_record_time","value":"抄表日期","valueType":"msg"},{"property":"records_date","value":"records_date","valueType":"msg"},{"property":"records_value","value":"records_cost","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":870,"y":540,"wires":[[]]},{"id":"3b63a7d1f41603b2","type":"python-function","z":"16df67cbaca52a3c","name":"更新水表数据","func":"import sqlite3\nfrom datetime import datetime\n\ndef parse_input():\n    # 解析数据数据\n    data = str(msg['payload']).split(' ')\n    if len(data) != 4:\n        node.error(\"输入数据格式不正确, 需要: 抄表日期 水表读数 用水量 用水费用\")\n        return None\n    date, value, usage, cost = data\n    try:\n        format_date = datetime.strptime(date, \"%Y%m%d\")\n        date = format_date.strftime(\"%Y-%m-%d\")\n    except ValueError:\n        node.error(\"不是有效的日志格式\")\n        return None\n    try:\n        value = float(value)\n    except:\n        node.error(\"不是有效的浮点数\")\n        return None\n    try:\n        usage = float(usage)\n    except:\n        node.error(\"不是有效的浮点数\")\n        return None\n    try:\n        cost = float(cost)\n    except:\n        node.error(\"不是有效的浮点数\")\n        return None\n    return (date, value, usage, cost)\n    \n\ndef insert_date(cursor, date):\n    cursor.execute('INSERT OR REPLACE INTO water_1504 (抄表日期, 水表读数, 用水量, 用水费用) VALUES (\"%s\", %s, %s, %s);' % (date[0], date[1], date[2], date[3]))\n\ndef read_gas_data(cursor):\n    # 执行查询\n    cursor.execute(\"SELECT * FROM water_1504\")\n    \n    # 获取所有行\n    rows = cursor.fetchall()\n    \n    # 提取查询结果\n    records = {}\n    for (date, value, usage, cost) in rows:\n        records[date] = (value, usage, cost)\n\n    return records\n\n# 连接到数据库\nconn = sqlite3.connect('my_home.db')\n# 创建游标对象\ncursor = conn.cursor()\n# 插入， 更新燃气数据\ninput_date = parse_input()\ninput_date and insert_date(cursor, input_date)\nconn.commit()\nrecords = read_gas_data(cursor)\n# 关闭连接\nconn.close()\n\n\n# 更新燃气数据\nrecords_date = []\nrecords_value = []\nrecords_usage = []\nrecords_cost = []\n\n# 倒序排序\nfor date in sorted(records.keys()):\n    records_date.append(date)\n    records_value.append(records[date][0])\n    records_usage.append(records[date][1])\n    records_cost.append(records[date][2])\n\nmsg['records_date'] = records_date\nmsg['records_value'] = records_value\nmsg['records_usage'] = records_usage\nmsg['records_cost'] = records_cost\n\nmsg['抄表日期'] = records_date[-1]\nmsg['表数'] = records_value[-1]\nmsg['用水量'] = records_usage[-1]\nmsg['金额'] = records_cost[-1]\n\nreturn msg","outputs":1,"x":540,"y":480,"wires":[["f045bd58fbcb4157","53881138bd098f39","b6722edbe0fa520b"]]},{"id":"e33067ca622d57c9","type":"mqtt in","z":"16df67cbaca52a3c","name":"监听用水数据","topic":"home_data/water_1504","qos":"2","datatype":"auto-detect","broker":"e03ef26e11c2411f","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":500,"wires":[["3b63a7d1f41603b2"]]},{"id":"39262e290d233922","type":"inject","z":"16df67cbaca52a3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["53e43f5836049234"]]},{"id":"9b7ba11a872fbc3b","type":"inject","z":"16df67cbaca52a3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":440,"wires":[["3b63a7d1f41603b2"]]},{"id":"0ee3259a7bdea578","type":"mqtt in","z":"16df67cbaca52a3c","name":"MQTT连接消息","topic":"mqtt/connect","qos":"2","datatype":"auto-detect","broker":"e03ef26e11c2411f","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":580,"wires":[["c28775c8d67b103e"]]},{"id":"3f8f74072c567bec","type":"mqtt in","z":"16df67cbaca52a3c","name":"MQTT连接消息","topic":"mqtt/connect","qos":"2","datatype":"auto-detect","broker":"e03ef26e11c2411f","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":280,"wires":[["7b293a1e0b6f543d"]]},{"id":"c28775c8d67b103e","type":"delay","z":"16df67cbaca52a3c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":580,"wires":[["3b63a7d1f41603b2"]]},{"id":"7b293a1e0b6f543d","type":"delay","z":"16df67cbaca52a3c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":360,"y":280,"wires":[["53e43f5836049234"]]}]